replicaCount: 1

image:
  repository: ticket-backend
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8082  



serviceAccount:
  create: false
  name: ""

ingress:
  enabled: false
